{% extends 'layout.twig' %}

{% block content %}
    <h1>Box {{ box.libelle }}</h1>
    <p>{{ box.description }}</p>
    <h2>Montant {{ box.montant }}€</h2>
    {% if canValidate %}
        <a href="{{ url_for('validateBox') }}">Valider ma box</a>
    {% endif %}
    <ul>
        {% for pres in prestations %}
            <li>
                <h3>{{ pres.libelle }} : {{ pres.tarif }}€. Quantité : {{ pres.pivot.quantite}}</h3>
                <form method="post" action="{{ url_for('AddPrestaToBox') }}">
                    <input type="hidden" name="presta" value="{{ pres.id }}">
                    <input type="hidden" name="box" value="{{ box.id }}">
                    <button type="submit">+</button>
                </form>
                <form method="post" action="{{ url_for('delPrestaBox') }}">
                    <input type="hidden" name="presta" value="{{ pres.id }}">
                    <input type="hidden" name="box" value="{{ box.id }}">
                    <button type="submit">-</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('categories') }}">Retour à l'accueil</a>
{% endblock %}