{% extends 'layout.twig' %}

{% block content %}
    {% for box in boxes %}
    <h1>Box {{ box.libelle }}</h1>
    <p>{{ box.description }}</p>
    <h2>Montant {{ box.montant }}€</h2>
        <form method="post" action="{{ url_for('boxDefaultForm') }}">
            <input type="hidden" name="id" value="{{ box.id }}">
            <button type="submit">Prendre cet template !</button>
        </form>
    {% endfor %}
{% endblock %}