{% extends 'layout.twig' %}

{% block content %}
    <h1>Home Page</h1>
    {% if log %}
        <h1> Bienvenue {{ prenom }} {{ nom }}</h1>
        <a href="{{ url_for('boxDefault') }}"> Voir les box par défaut</a>
        <a href="{{ url_for('logout') }}"> Déconnexion</a>
    {% else %}
        <a href="{{ url_for('login') }}">Connexion</a>
        <a href="{{ url_for('register') }}">Inscription</a>
    {% endif %}
{% endblock %}