<html lang="fr">
<head>
    <title>MyGiftBox</title>
    <link rel="stylesheet" href="{{ base_path() }}/style/output.css">
    <link rel="icon" href="{{ base_path() }}/icon/icon.png">
</head>
<body class="h-screen w-full flex flex-col items-center">
    <nav class="bg-dark-tea w-full h-20 text-green-tea text-center text-3xl font-bold space-x-8 flex flex-row items-center justify-center">
        <a href="{{ url_for('homePage') }}" class="nav-link">Home</a>
        <a href="{{ url_for('categories') }}" class="nav-link">Catégories</a>
        <a href="{{ url_for('newBox') }}" class="nav-link">+Box</a>
        <a href="{{ url_for('displayBox') }}" class="nav-link">Mes Box</a>
    </nav>
    <header>
        <h1>Bienvenue sur MyGiftBox</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h3>Site créé par Nicolas Bernardet, Timothée Brindejonc et Jules Steelandt</h3>
    </footer>
</body>
</html>