<html lang="fr">
<head>
    <title>MyGiftBox</title>
    <link rel="stylesheet" href="{{ base_path() }}/style/output.css">
    <link rel="icon" href="{{ base_path() }}/icon/icon.png">
</head>
<body class="h-screen w-full flex flex-col items-center">
    <nav class="nav">
        <a href="{{ url_for('homePage') }}" class="nav-link">Home</a>
        <a href="{{ url_for('categories') }}" class="nav-link">Catégories</a>
        <a href="{{ url_for('newBox') }}" class="nav-link">+Box</a>
        <a href="{{ url_for('displayBox') }}" class="nav-link">Mes Box</a>
    </nav>
    <main class="w-full">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="w-full h-10 bg-dark-tea fixed bottom-0">
        <h3 class="text-green-tea pt-2 ps-2">Site créé par
            <span class="font-bold text-tea-green">Nicolas Bernardet</span>,
            <span class="font-bold text-tea-green">Timothée Brindejonc</span> et
            <span class="font-bold text-tea-green">Jules Steelandt</span>
        </h3>
    </footer>
</body>
</html>