{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ cat }}</h1>
    <h2>{{ presta.libelle }}</h2>
    <img src="{{ base_path() }}/img/{{ presta.img }}" width="200" height="200"/>
    <p>{{ presta.description }}</p>
    {% if presta.unite != null %}
    <p>{{ presta.unite }}</p>
    {% endif %}
    <p>{{ presta.tarif }}€</p>
    {% if hasBox %}
        <form method="post" action="{{ url_for('takeBox') }}">
            <input type="hidden" name="presta" value="{{ presta.id }}">
            <input type="hidden" name="box" value="{{ box_id }}">
            <label>Quantité :
                <input type="number" name="quantite" value=1 />
            </label>
            <button type="submit">+</button>
        </form>
    {% else %}
        <h1>Vous n'avez pas de box, ou toutes vont box sont déjà validées</h1>
        <h2>Si vous voulez ajouter cette prestation à une box, créez-en une nouvelle !</h2>
    {% endif %}
    <a href="{{ url_for('categories') }}">Accueil</a>
{% endblock %}